# Dependencies
node_modules/

# Environment variables
.env
.env.*

# Build files
dist/
build/

# Logs
*.log
npm-debug.log*

# WhatsApp Web authentication and cache
.wwebjs_auth/
.wwebjs_cache/

# Editor files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db